{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="container login-page">
  <div class="welcome-side">
    <h2 class="welcome-h">Welcome to NoteKeepr!</h2>
    <p>
      Welcome to your <strong class="strong">personal</strong> space for
      capturing and organizing your thoughts, tasks, and ideas. Whether you're
      jotting down quick notes or keeping track of important tasks, NoteKeeper
      ensures that everything is
      <strong class="strong">securely stored</strong> and
      <strong class="strong">easily</strong> accessible whenever you need it.
    </p>

    <strong class="strong-sign-up">
      Don't have an account?
      <a href="/sign-up" id="signUp">Sign up here</a>.
    </strong>
  </div>
  <form method="POST">
    <h2 class="login-h">Login</h2>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}
